body {
  text-align: center;
  margin: 60px;
  font-family: helvetica, arial, sans-serif;
}

/* GRID */

.column, .row {
  box-sizing: border-box;
}
.column {
  /* border: 2px solid tomato; */
  position: relative;
  border-radius: 20px;
          height: 100px;
  float: left;
          width: 33.33%;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;                                              
}
.row {
  /* border: 2px solid rebeccapurple; */
  overflow: auto;
}
.module {
  margin: 5px 10px;
  /* background-color: lightblue; */
  height: 100%;
}
.column1-4 {
  width: 25%;
}

/* GENERAL STYLING */

h1 {
  color: #FF5A5F;
}

h2 {
  color: #444;
  font-size: 28px;
  text-align: left;
}

/* NAV */
.nav-bar {
  height: 110px;
}
.img-logo {
  display: inline-block;
  float: left;
  margin: 40px 0 0 20px;
  height: 50%;
  width: auto;
}
.nav-links {
  width: 66.66%;
  text-align: right;

}
.nav-links ul {
  padding: 0;
  list-style: none;
}
.nav-links li {
  display: inline-block;
  margin: 45px 16px 0 0;
  color: #555;
  font-size: 14px;
}

/* */

.header-break {
  height: 200px;
}

/* HEADER */

.header-row {
  height: 225px;
  
}
.header-column {
  height: 200px;
  width: 80%;
  text-align: left;
  margin: 0 0 0 20px;
}
.header-module {
  height: 160px;
}
.header-grey {
  color: #333;
  font-weight: 100;
  font-size: 40px;
}
.header-module h1 {
  font-size: 45px;
}

/* SEARCH BAR */
.search-row {
  height: 100px;
}
.search-column, .search-module {
  display: inline-block;
  float: left;
  height: 60px;
  width: 90%;
  margin: 0 15px;
  /* background-color: white; */
  
}
.search-module {
  border: 1px solid #999;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  padding: 10px;
}
 .magnify {
  height: auto;
  width: 30px;
  float: left;
  margin: 5px;
}
input {
  float: left;
  height: 50px;
  width: 80%;
  min-width: 40%;
  border: none;
  outline: none;
  font-size: 18px;
  margin: 0;
  /* padding: 0 0 0 10px; */
  color: #666;
}
#search-button {
  background-color: #FF5A5F;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.5px;
}

/*  */

.break {
  height: 100px;
}

/* ROW 6 - CATAGORIES */

.row6 {
  height: 120px;
}
.row6 .module {
  border: 1px solid #aaa;
  overflow: hidden;
  height: 70px;
  font-size: 14px;
  text-align: left;
  line-height: 70px;
  color: #444;
  font-size: 15px;
  font-weight: 900;
}
.row6 img {
  overflow: hidden;
  height: 70px;
  width: auto;
  float: left;
  position: relative;
  left: -20px;

}

/* ROW5/ROW7 - EXPLORE/EXPERIENCES/HOMES HEADLINES */

.row7, .row5, .row10 {
  height: 100px;
}
.row7 .module, .row5-module, .row10 .module {
  text-align: left;
  height: 50px;
  line-height: 50px;

}

/* ROW 8 - EXPERIENCES */

.row8 {
  height: 340px;
}
.row8 .module {
  overflow: hidden;
  height: 320px;
}
.row8 img {
  overflow: hidden;
  height: 200px;
  width: auto;
  margin: 0 0 8px 0;
  /* border-radius: 5px; */
}
.tour-img {
  width: 400px;
  height: auto;
}
.row8 h4, .row8 h3, .row8 p {
  margin: 0 auto;
  padding: 0;
}
.row8 h4 {
  font-size: 12px;
  color: darkred;
}
.row8 h3, .row11 h3 {
  font-size: 17px;
  color: #333;
}
.row8 p, .row11 p {
  color: #666;
  font-size: 15px;
}

/* ROW11 - HOMES FOR RENT */

.row11 {
  height: 500px;
}
.row11 .module {
  overflow: auto;
  height: 400px;
}
.row11 img {
  overflow: auto;
  width: 100%;
  height: auto;

  /*  */
/* 
  overflow: hidden;
  height: 200px;
  width: auto;
  margin: 0 0 8px 0; */
}

.row11 h4, .row11 h3, .row11 p {
  margin: 8px auto;
  padding: 0;
}
.row11 h4 {
  font-size: 12px;
  color: rgb(6, 6, 85);
}
.hobbit {
  position: relative;
  top: -20px;
}
