body {
  text-align: center;
  margin: 20px;
  font-family: arial, sans-serif;
}

/* GRID */

.column, .row {
  box-sizing: border-box;
}
.column {
  border: 2px solid tomato;
  position: relative;
  border-radius: 20px;
          height: 100px;
  float: left;
          width: 33.33%;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;                                              
}
.row {
  border: 2px solid rebeccapurple;
  overflow: auto;
}
.module {
  margin: 5px 10px;
  background-color: lightblue;
  height: 100%;
}
.column1-4 {
  width: 25%;
}

/* GENERAL STYLING */

h1 {
  color: #FF5A5F;
}



/* NAV */
.nav-bar {
  height: 110px;
}
.img-logo {
  display: inline-block;
  float: left;
  margin: 40px 0 0 20px;
  height: 50%;
  width: auto;
}
.nav-links {
  width: 66.66%;
  text-align: right;

}
.nav-links ul {
  padding: 0;
  list-style: none;
}
.nav-links li {
  display: inline-block;
  margin: 45px 16px 0 0;
  color: #555;
  font-size: 14px;
}

/* */

.header-break {
  height: 200px;
}

/* HEADER */

.header-row {
  height: 275px;
  
}
.header-column {
  height: 200px;
  width: 80%;
  text-align: left;
  margin: 0 0 0 20px;
}
.header-grey {
  color: #444;
  font-weight: 100;
}
.header-module h1 {
  font-size: 45px;
}

/* SEARCH BAR */
.search-row {
  height: 100px;
}
.search-column, .search-module {
  display: inline-block;
  float: left;
  height: 60px;
  width: 90%;
  margin: 0 15px;
  /* background-color: white; */
  
}
.search-module {
  border: 1px solid #999;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  padding: 10px;
}
 .magnify {
  height: auto;
  width: 30px;
  float: left;
  margin: 5px;
}
input {
  float: left;
  height: 50px;
  width: 80%;
  min-width: 40%;
  border: none;
  outline: none;
  font-size: 18px;
  margin: 0;
  /* padding: 0 0 0 10px; */
  color: #666;
}
#search-button {
  background-color: #FF5A5F;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.5px;
}
.break {
  height: 175px;
}
/*  */
